mixin storeForm(store = {})
  form(action="/add" method="POST" class="card")
    label(for="name") Name
    input(type="text" name="name")
    label(for="description") Description
    textarea(name="description")
    - const choices = ["Wifi", "Open Late", "Family Friendly", "Vegetarian", "Licensed"]
    ul.tags
      each choice in choices
        .tag.tag__choice
          input(type="checkbox" id=choice value=choice name="tags")
          label(for=choice) #{choice}
    input(type="submit" value="Save ➡" class="button")


//- mixin is like a function
//- store = {} --> if there is not store it defaults to empty obj
//- enctype="multipart/form-data" --> because we are accepting data
//- label(for=choice)= choice ----> just like label(for=choice) #{choice}
//- id, value and for don't have "" because choice is a variable